[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
kneed = "*"
xgboost = "*"
cassandra-driver = "*"
flask = "*"
flask-cors = "*"
flask-monitoringdashboard = "*"

[dev-packages]

[requires]
python_version = "3.9"
